*{
    box-sizing: border-box;
}
table{
    margin-left:auto;
    margin-right:auto;
    margin-top:50px;
}

td{
   
    flex-direction: column;
}
.grid-images {
    border-radius:10px;
    margin:8px;
}
.hero-sec{
    padding-left: 25px;
}
